body {
  height: 100%;
}

.auth-form {
  width: 400px;
}

.bg-grey-lighten-4 {
  height: fit-content !important;
}

.main-panel-container {
  width: calc(100vw - 360px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 20px 0px 120px;
}

.description-text .v-expansion-panel__shadow {
  box-shadow: unset !important;
  height: 10px;
  width: 10px;
}

.description-text .v-expansion-panel-title {
  padding-left: 55px;
}

.options-info-chat .v-list-item__prepend {
  width: 40px;
}

.options-info-chat .v-expansion-panel-title--active {
  min-height: unset !important;
}

.user-selection-item .v-label {
  opacity: unset;
}

.create-group-chat-popup-container .v-field__append-inner {
  display: none !important;
}